/******************************************
Callouts
******************************************/
.callout {
  font-size: 16px;
  color: #60656f;
  border-radius: 6px;
  line-height: 1.8;
  position: relative;
  margin-bottom: 2rem;

  & > .sub-container {
    padding-bottom: 1.7em;
  }

  &.-note {
    background-color: #FFF3DE;

    & .callout__title:before {
      color: $color__accent;
    }
  }
}
.callout__title {
  font-weight: 700;
  display: inline;
  font-size: 1.2em;
  margin-right: .4em;
  position: relative;

    &:before {
      @include icon('exclamation', 1em, false);
      margin-right: .4em;
      position: relative;
      top: 0.06em;
    }
}