/******************************************
Theme Variables
******************************************/
$font-family__headings: 'Literata';
$font-family__body: 'Nunito';



// Theme Palette
$color__cocoa: #2F1E1D;
$color__cashmere: #E3BDA6;
$color__coffee: #B88969;

// $color__black-pearl: #031720;
$color__heading: $color__cocoa;
$color__primary: #f43e15;
// $color__body: #6a6b6c;
$color__body: #605d5b;
$color__neutral: #918a84;
$color__dark: $color__cocoa;
// $color__accent: #FBAC33;

// // Site header
// $color__primary-menu: $color__black-pearl;
// $color__mobile-menu-toggle: white;
// $color__menu-parent: rgb(255, 255, 255);
// // $font-size__primary-menu: 14.4px;

// Mobile Menu
$color__mobile-menu: $color__coffee;

// // Site footer
$color__footer: #212121;
$color__footer-body: #D8D8D8;
$font-family__footer-headings: $font-family__body;
$color__copyrights-body: #b8b7b6;


// // Misc
$color__link-primary: $color__primary;
$color__jra-dashes: #C4ECFA;

// // Mobile Menu
// $color__mobile-menu: $color__black-pearl;


